
body{
  color: rgb(125, 124, 124);
  font-size: 14px;
}

.normal_btn{
  color: white;
  border-radius: 5px;
  padding: 12px 15px;
  border: none;
  margin: 10px 5px;
}

.green{
  background-color: seagreen;
  cursor: pointer;
}

.blue{
  background-color: rgb(3, 89, 227);
  cursor: pointer;
}

.silver{
  background-color: silver;
  cursor: not-allowed;
}