
body{
  color: rgb(125, 124, 124);
  font-size: 14px;
}

.normal_btn{
  color: white;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 12px 15px;
  border: none;
  margin: 10px 5px;
}

.red{
  background-color: red;
  cursor: pointer;
}
.green{
  background-color: seagreen;
  cursor: pointer;
}

.blue{
  background-color: rgb(3, 89, 227);
  cursor: pointer;
}

.silver{
  background-color: silver;
  cursor: not-allowed;
}

.display_none{
  display: none;
}

.display_block{
  display: block;
  margin-bottom: -35px;
  margin-top: 20px;
  font-size: 12px;
}
/* 
@keyframes label{
  0%{
    margin-bottom: -30px;
  }
  100%{
    margin-bottom: 0;
  }
}

@keyframes labelclose{
  0%{
    margin-bottom: 0px;
  }
  100%{
    margin-bottom: -30px;
  }
} */