
body{
  color: rgb(125, 124, 124);
  font-size: 14px;
}

.normal_btn{
  background-color: rgb(3, 89, 227);
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.disabled_btn{
  background-color: silver;
  cursor:not-allowed;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
}