.home_main_container{
    width: 70%;
    margin: auto;
}

.home_btn_container{
    display: flex;
    margin: 50px auto;
    width: 60%;
    /* border: 1px solid silver; */
}

.home_btn{
    padding:8px 10px;
    background-color: transparent;
    width: 33.33%;
    border: 1px solid silver;
    cursor: pointer;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
.clicked_btn{
    background-color: rgb(3, 55, 139);
    color: white;
    padding:8px 10px;
    width: 33.33%;
    border: 1px solid silver;
    cursor: pointer;
    margin: 0;
}

.home_btn:hover{
    background-color: rgb(3, 89, 227);
    color: white;
}

.search_container{
    width: 45%;

    height: 25px;
    display: flex;

}

.searchIcon{
    margin-right: -30px;
    margin-top: 7px;
    position: relative;
}

.search_inp{
    width: 100%;
    height: 100%;
    padding: 2px 30px;
    font-size: 15px;
    border: 1px solid silver;
    outline: none;
    border-radius: 3px;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width:100%;
    margin: 50px 0;
}

.card{
    margin: 0px;
    border: 1px solid silver;
    padding: 20px;
    width: 80%;
}

.card_upper{
    display: flex;
    gap: 30px;
    text-align: left;
}

.card_img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid silver;
}

.card_upper2 p{
    margin: 4px 0;
    font-size: 13px;
}

.card_lower{
    text-align: left;
    font-size: 14px;
}

.card_lower > p:nth-child(1){
    color: blue;
}


