

.addItem_con{
    display: flex;
    width: 90%;
    height:90vh;
    margin: auto;
    text-align: center;
}

.addItem_upper{
    width: 50%;
    margin-top: 30px;
}



.form{
    margin: auto;
    width: 55%;
    text-align: left;
}



.addInp{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid silver;
    outline: none;
    padding: 3px 10px;
    
}

.desc{
    height: 50px;
    font-size: 15px;
}

.addItem_lower{
    width: 50%;
    height: 100%;
}

.addItem_lower > img{
    height: 100%;
    object-fit: fill;
}

.err_div{
    color:red;
    font-size: 11px;
    width: 95%;
    margin: 0 auto;
}

@media only screen and (min-width: 275px) and (max-width: 475px) {
    .addItem_con{
        display: flex;
        flex-direction: column;
        width: 90%;
        height:90vh;
        margin: auto;
        text-align: center;
    }
    
    .addItem_upper{
        width: 100%;
        margin-top: 10px;
    }
    
    
.form{
    margin: auto;
    width: 95%;
    text-align: left;
    font-size: 12px;
}

.desc{
    height: 30px;
    font-size: 12px;
}


.addInp{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid silver;
    outline: none;
    padding: 3px 10px;
    font-size: 12px;
}

}


@media only screen and (min-width: 476px) and (max-width: 715px) {
    .addItem_con{
        display: flex;
        flex-direction: column;
        width: 90%;
        height:90vh;
        margin: auto;
        text-align: center;
    }
    
    .addItem_upper{
        width: 100%;
        margin-top: 10px;
    }
    
    
.form{
    margin: auto;
    width: 60%;
    text-align: left;
    font-size: 12px;
}

.desc{
    height: 30px;
    font-size: 12px;
}


.addInp{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid silver;
    outline: none;
    padding: 3px 10px;
    font-size: 12px;
}

}



@media only screen and (min-width: 716px) and (max-width: 1200px) {
    .addItem_con{
        display: flex;
        flex-direction: row;
        width: 90%;
        height:90vh;
        margin: auto;
        text-align: center;
    }
    
    .addItem_upper{
        width: 100%;
        margin-top: 10px;
    }
    
    
.form{
    margin: auto;
    width: 90%;
    text-align: left;
    font-size: 12px;
}

.desc{
    height: 30px;
    font-size: 12px;
}


.addInp{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid silver;
    outline: none;
    padding: 3px 10px;
    font-size: 12px;
}

}