

.addItem_con{
    display: flex;
    width: 90%;
    height:90vh;
    margin: auto;
    text-align: center;
}

.addItem_upper{
    width: 50%;
    margin-top: 30px;
}



.form{
    margin: auto;
    width: 55%;
    text-align: left;
}



.addInp{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid silver;
    outline: none;
    padding: 3px 10px;
    
}

.desc{
    height: 50px;
    font-size: 15px;
}

.addItem_lower{
    width: 50%;
    height: 100%;
}

.addItem_lower > img{
    height: 100%;
    object-fit: fill;
}

.err_div{
    color: rgb(204, 1, 1);
    font-size: 11px;
    width: 95%;
    margin: 0 auto;
}